---
name: Snyk ~ Container Security Scan

on:
  workflow_run:
    workflows: ["Publish Docker Image"]
    types:
      - completed
  schedule:
    - cron: "39 4 * * 0"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  snyk:
    if: github.ref == 'refs/heads/master'
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      #- name: Build a Docker image
      #  run: docker build -t black-mirror .
      - name: Run Snyk to check Docker image for vulnerabilities
        # Snyk can be used to break the build when it detects vulnerabilities.
        # In this case we want to upload the issues to GitHub Code Scanning
        continue-on-error: true
        uses: snyk/actions/docker@cdb760004ba9ea4d525f2e043745dfe85bb9077e
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ghcr.io/t145/black-mirror:latest
          args: --file=docker/Dockerfile
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@c43362b91a940600cde2ebae39ec7a35ad66bdc0
        with:
          sarif_file: snyk.sarif
